<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Announcer · Data Input</title>
        <link
            rel="icon"
            href="../public/img/psn-logo.jpeg"
            type="image/x-icon" />
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
        <link
            rel="stylesheet"
            type="text/css"
            href="../public/style/style.css" />
    </head>
    <body>
        <div class="container mt-3">
            <nav class="navbar" style="background-color: #e0e0e0">
                <div class="container-fluid">
                    <a class="navbar-brand" href="http://nmc.psn.co.id">
                        <img
                            src="../public/img/psn-logo.jpeg"
                            alt="Logo"
                            width="60"
                            height="40"
                            class="d-inline-block align-text-top" />
                    </a>
                </div>
            </nav>

            <br />
            <a class="btn btn-primary mb-2" href="/announcer/maintenance"
                >Maintenance</a
            >
            <a class="btn btn-warning mb-2" href="/add/maintenance"
                > Add Maintenance</a
            >
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Maintenance</th>
                        <th>Detail</th>
                        <th>Tanggal Awal Downtime</th>
                        <th>Jam Awal Downtime</th>
                        <th>Tanggal Akhir Downtime</th>
                        <th>Jam Akhir Downtime</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% maintenanceItems.forEach(item => { %>
                    <tr>
                        <td><%= item.maintenance %></td>
                        <td><%= item.detail %></td>
                        <td>
                            <%=
                            item.awal_tanggal_downtime.toLocaleDateString().substring(0,
                            10) %>
                        </td>
                        <td>
                            <%= item.awal_jam_downtime.substring(0, 5 ) %> WIB
                        </td>
                        <td>
                            <%=
                            item.akhir_tanggal_downtime.toLocaleDateString().substring(0,
                            10) %>
                        </td>
                        <td>
                            <%= item.akhir_jam_downtime.substring(0, 5 ) %> WIB
                        </td>
                        <td>
                            <a
                                class="btn btn-secondary btn-sm"
                                href="/edit/maintenance/<%= item.id %>"
                                >Edit</a
                            >

                            <a
                                class="btn btn-danger btn-sm"
                                href="/delete/maintenance/<%= item.id %>"
                                >Hapus</a
                            >
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>

            <!-- Promo -->
            <br />
            <a class="btn btn-primary mb-2" href="/announcer/promo"
                >Promo</a
            >
            <a class="btn btn-warning mb-2" href="/add/promo"
                >Add Promo</a
            >
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Promo</th>
                        <th>Detail</th>
                        <th>Awal Promo</th>
                        <th>Akhir Promo</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% promoItems.forEach(item => { %>
                    <tr>
                        <td><%= item.promo %></td>
                        <td><%= item.detail %></td>
                        <td>
                            <%=
                            item.awal_promo.toLocaleDateString().substring(0,
                            10) %>
                        </td>
                        <td>
                            <%= item.akhir_promo.toLocaleDateString().substring(0,
                            10) %>
                        </td>
                        <td>
                            <a
                                class="btn btn-secondary btn-sm"
                                href="/edit/promo/<%= item.id %>"
                                >Edit</a
                            >

                            <a
                                class="btn btn-danger btn-sm"
                                href="/delete/promo/<%= item.id %>"
                                >Hapus</a
                            >
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
            

            <!-- Inmarsat -->
            <a class="btn btn-warning mb-2" href="/add/inmarsat">Add Inmarsat</a>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Aktivasi IDR</th>
                        <th>Deaktivasi IDR</th>
                        <th>Aktivasi USD</th>
                        <th>Deaktivasi USD</th>
                        <th>Awal Periode</th>
                        <th>Akhir Periode</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% inmarsatItems.forEach(item => { %>
                    <tr>
                        <td>Rp. <%= item.aktivasi_IDR %></td>
                        <td>Rp. <%= item.deaktivasi_IDR %></td>
                        <td>$ <%= item.aktivasi_USD %></td>
                        <td>$ <%= item.deaktivasi_USD %></td>
                        <td>
                            <%=
                            item.awal_periode.toLocaleDateString().substring(0,
                            10) %>
                        </td>
                        <td>
                            <%=
                            item.akhir_periode.toLocaleDateString().substring(0,
                            10) %>
                        </td>
                        <td>
                            <a
                                class="btn btn-secondary btn-sm"
                                href="/edit/inmarsat/<%= item.id %>"
                                >Edit</a
                            >
                            <a
                                class="btn btn-danger btn-sm"
                                href="/delete/inmarsat/<%= item.id %>"
                                >Hapus</a
                            >
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </body>
</html>
